/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Nov 2021, 4:56:48 pm
    Author     : Admin
*/
header h1 {
    text-align: center;
    padding-top: 10px;
}

header p {
    text-align: center;
}

.small-card {
    width: 18rem;
    margin: 0.625rem;
}

.medium-card {
    width: 31.25rem;
    margin: 0.625rem;
}

.large-card {
    width: 62.5rem;
    margin: 0.625rem;
}

.form-group {
    margin: 0.625rem;
}

.form-check {
    padding-left: 0rem;
    margin: 0.625rem;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.course {
    margin: 0.625rem;
}

.one{
    background-image: url("../images/writing1.jpg");
    height: 100vh;
    backgroud-position: center;
    background-repeat: no-repeat;
    background-size: cover;  

}
.two{
    background-image: url("../images/programming1.jpg");
    height: 100vh;
    backgroud-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

#main a{  
    text-decoration: none;
    color: black;
    font-size: 10vh;
    
}
#main .container{
    padding: 0;
}
#main span{
    background-color: white;
}

#company_name{
    font-family: 'Road Rage',cursive;
    font-size: 7vh;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
