/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Nov 2021, 4:56:48 pm
    Author     : Admin
*/
header h1 {
    text-align: center;
}

header p {
    text-align: center;
}

.small-card {
    width: 18rem;
    margin: 0.625rem;
}

.large-card {
    width: 62.5rem;
    margin: 0.625rem;
}

.form-group {
    margin: 0.625rem;
}

.form-check {
    margin: 0.625rem;
}
